body
{
    padding-top : 50px;
}

#content
{
    padding-top : 20px;
}

.panorama
{
    background-color: black;
}

.chapterTitle
{
    color : #333333;
}

.chapterTitle:hover, .chapterTitle:focus {
    text-decoration: none;
}

#panorama-img
{
    height: auto; 
    width: auto; 
    max-height: 400px;
    max-width: 100%;
}

#panorama-title
{
    padding-bottom: 10px;
    font-family: Courier, monospace;
}

.config-menu
{
    margin : 10px 0px 10px
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-darkgray,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-darkgray {
    color: #9B9D9D;
    background: #222222;
}